
/* Source: https://stackoverflow.com/questions/5643254/how-to-scale-svg-image-to-fill-browser-window */
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden
}

svg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

p.score {
    position: absolute;
    top: 5%;
    right: 5%;
    background: white;
}

div.menu, div.menu-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

div.menu-container {
    left: 0;
}

div.menu {
    left: 5%;
    top: 3%;
    width: 90%;
    height: auto;
    padding: 1%;
    max-block-size: 95%;
    background: gray;
    overflow-y: overlay;
}

div.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
}

div.panel-heading {
    text-align: center;
}

.slider.slider-horizontal {
    width: 100%;
}

.menu>.panel-body>.row {
    margin: 0;
}

.menu-text{
    font-size: large;
}

th {
    text-align: center;
}

circle.bubble {
    fill: lightskyblue;
    stroke: none;
}

circle.bubble:hover {
    fill:lightslategray;
}
